<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="main">
  <h1>
    US Time Zone Display
  </h1>
  <div style="text-align:center" class="button" *ngFor='let zone of zones'>
    <button (click)="onButtonClick(zone)" [ngClass]="{'yolo': click === zone}">{{zone}}</button>
  </div>
  <div style="text-align:center">
    <button (click)="onButtonClick()">Clear</button>
  </div>
  <br>
  <div style="text-align:center">
  {{ today | date:'medium' :click }}
  </div>
</div>